<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <header class="header">
        <h1 class="main-title">Aleksei Novikov's Blog</h1>
        <nav class="menu">
          <ul>
            <li>Link1</li>
            <li>Link2</li>
            <li>Link3</li>
            <li>Link4</li>
          </ul>
        </nav>
      </header>
      <section class="feed">
        <div class="post-box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
          quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
          molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
          sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
          ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
          in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
          illo quod reprehenderit maiores fugit quae sunt unde aperiam.
          Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
          ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
          possimus inventore, tenetur officiis nihil corporis magnam itaque
          alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
          et. Esse, dolor.
        </div>
        <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
          <div class="post-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis, sed
            sunt alias esse, neque veniam quo doloremque explicabo reprehenderit
            ipsam at, assumenda accusamus! Ipsam id ex et earum molestias neque
            in? Non explicabo necessitatibus veniam, maxime vitae perspiciatis,
            illo quod reprehenderit maiores fugit quae sunt unde aperiam.
            Voluptatem necessitatibus, corporis harum, aut amet saepe consequatur
            ex tenetur molestias voluptatibus provident? Esse suscipit excepturi
            possimus inventore, tenetur officiis nihil corporis magnam itaque
            alias quam ipsam temporibus aliquid fuga, error veniam! Laudantium,
            et. Esse, dolor.
          </div>
      </section>
      <footer class="footer">
        <h6 class="copyright"></h6>
      </footer>
    </div>
  </body>
</html>
