<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <header class="header">
        <h1 class="main-title">Aleksei Novikov's Blog</h1>
        <nav class="menu">
          <ul>
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
            <li><a href="#">Link4</a></li>
          </ul>
        </nav>
      </header>
      <section class="feed">
        <div class="post-box">
          <div class="post-box-header">
            <a herf="#"><h2>Header</h2></a>
            <div class="post-description">20.09.1992</div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis,
            sed sunt alias esse, neque veniam quo doloremque explicabo
            reprehenderit ipsam at, assumenda accusamus! Ipsam id ex et earum
            molestias neque in? Non explicabo necessitatibus veniam, maxime
            vitae perspiciatis, illo quod reprehenderit maiores fugit quae sunt
            unde aperiam. Voluptatem necessitatibus, corporis harum, aut amet
            saepe consequatur ex tenetur molestias voluptatibus provident? Esse
            suscipit excepturi possimus inventore, tenetur officiis nihil
            corporis magnam itaque alias quam ipsam temporibus aliquid fuga,
            error veniam! Laudantium, et. Esse, dolor.
          </p>
          <div class="link">
            <a href="#"><h4>Continue readling</h4></a>
          </div>
        </div>
        <div class="post-box">
          <div class="post-box-header">
            <a herf="#"><h2>Header</h2></a>
            <div class="post-description">20.09.1992</div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis,
            sed sunt alias esse, neque veniam quo doloremque explicabo
            reprehenderit ipsam at, assumenda accusamus! Ipsam id ex et earum
            molestias neque in? Non explicabo necessitatibus veniam, maxime
            vitae perspiciatis, illo quod reprehenderit maiores fugit quae sunt
            unde aperiam. Voluptatem necessitatibus, corporis harum, aut amet
            saepe consequatur ex tenetur molestias voluptatibus provident? Esse
            suscipit excepturi possimus inventore, tenetur officiis nihil
            corporis magnam itaque alias quam ipsam temporibus aliquid fuga,
            error veniam! Laudantium, et. Esse, dolor.
          </p>
          <div class="link">
            <a href="#"><h4>Continue readling</h4></a>
          </div>
        </div>
        <div class="post-box">
          <div class="post-box-header">
            <a herf="#"><h2>Header</h2></a>
            <div class="post-description">20.09.1992</div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam
            quos quibusdam nesciunt ipsam aliquam maxime dignissimos. Eius
            molestiae nobis ratione laboriosam earum sapiente ab. Blanditiis,
            sed sunt alias esse, neque veniam quo doloremque explicabo
            reprehenderit ipsam at, assumenda accusamus! Ipsam id ex et earum
            molestias neque in? Non explicabo necessitatibus veniam, maxime
            vitae perspiciatis, illo quod reprehenderit maiores fugit quae sunt
            unde aperiam. Voluptatem necessitatibus, corporis harum, aut amet
            saepe consequatur ex tenetur molestias voluptatibus provident? Esse
            suscipit excepturi possimus inventore, tenetur officiis nihil
            corporis magnam itaque alias quam ipsam temporibus aliquid fuga,
            error veniam! Laudantium, et. Esse, dolor.
          </p>
          <div class="link">
            <a href="#"><h4>Continue readling</h4></a>
          </div>
        </div>
      </section>
      <footer class="footer">
        <h6 class="copyright">
          Aleksei Novikov's Blog
        </h6>
      </footer>
    </div>
  </body>
</html>
